.container-home {
  .container-redoc {
    margin-top: 0px;
    .row-redoc {
      padding-top: 0px;
      padding-bottom: 0px;
      background-color: #FFF;
    }
  }
}

.redoc-iframe {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}