/// Colors used in homepage pages styles

$color-homepage-header-red: $color-red-1;
$color-homepage-text-light-gray: #898989;
$color-homepage-text-dark-gray: #373737;
$color-homepage-h2-gray: #3F3F3F;
$color-homepage-h2-light-gray: #949494;
$color-homepage-background-light-gray: #F6F7F8;
$color-homepage-header-bottom-line: $color-homepage-text-light-gray;

$color-api-components-background: #F6F6F6;
$color-api-components-text: #8A8A8A;
$color-api-components-text-hover: #464646;
$color-api-components-text-active: #EC4242;
$color-api-components-version-border: #E9E9E9;
$color-api-components-version-text: #444B4E;
$color-api-components-version-background: #FFF;
$color-api-components-version-background-hover: $color-api-components-version-border;
