/// Colors used in homepage pages styles

$color-homepage-header-red: $color-red-1;
$color-homepage-text-light-gray: #898989;
$color-homepage-text-dark-gray: #373737;
$color-homepage-h2-gray: #3F3F3F;
$color-homepage-h2-light-gray: #949494;
$color-homepage-background-light-gray: #F6F7F8;
$color-homepage-header-bottom-line: $color-homepage-text-light-gray;
