.loader {
  display: none;
}

.active {
  .loader {
    display: block;
  }
}

.social-box-component {
  display: inline-block;
  &.disabled {
    opacity: 0.3;
    a {
      cursor: default;
    }
  }
  .social-icon-image {
    width: 100%;
    height: 100%;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center center;
  } 
}

.login-icon-box {
  // default when provider is unknown
  background-color: $color-login-plgrid;

  &.active {
    .one-icon {
      color: transparent !important;
    }
  }

  .one-icon {
    line-height: inherit;
  }

  &.indigo {
    background-color: $color-login-indigo;
  }
  &.github {
    background-color: $color-login-github;
  }
  &.plgrid {
    background-color: $color-login-plgrid;
  }
  &.google {
    background-color: $color-login-google;
  }
  &.dropbox {
    background-color: $color-login-dropbox;
  }
  &.facebook {
    background-color: $color-login-facebook;
  }
  &.username {
    background-color: $color-login-username;
  }
  &.egi {
    background-color: $color-login-egi;
  }
  &.rhea {
    background-color: $color-login-rhea;
    .one-icon {
      font-size: 50px;
    }
    .ember-power-select-option & .one-icon,
    .ember-power-select-trigger & .one-icon {
      font-size: 25px;
    }
  }
  &.elixir {
    background-color: $color-login-elixir;
  }
  &.unitedid {
    background-color: $color-login-unitedid;
  }
  &.more {
    background-color: white;
    color: $color-dark-steel;
    font-weight: bold;
    line-height: 35px !important;
    &:hover {
      color: $color-dark-steel;
    }
  }
}

.login-icon-box {
  margin: 0;
  border-radius: $border-radius-large;
  overflow: hidden;
  text-align: center;
  text-decoration: none !important;
  color: white;
  user-select: none;
  &:hover {
    color: white;
  }
}

.authorizers-dropdown .ember-power-select-option, 
.container-home .authorizers-dropdown-container .ember-power-select-trigger {
  position: relative;
  padding-left: 50px;
  color: $color-steel;
  .social-box-component {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    margin: 0 10px;
    .login-icon-box {
      display: block;
      height: 25px;
      width: 25px;
      
      line-height: 25px;
      font-size: 18px;
      .social-icon-image {
        background-size: 20px 20px;
      }
    }
  }
}

.ember-basic-dropdown-content.authorizers-dropdown {
  position: fixed;
  font-size: 10pt;
  &.ember-basic-dropdown--transitioned-in {
    position: absolute;
  }
}

.container-home {
  .login-icon-box {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    
    cursor: pointer; cursor: hand;

    .loader {
      // position hack
      position: absolute;
      top: 23px;
      left: 30px;
      font-size: 40px;
      max-width: 40px;
      width: 40px;
      color: rgba(white, 0.5);
    }
  }

  .login-box-container {
    height: 100%;
    margin-bottom: 20px;
  }

  .login-buttons-container {
    max-width: 400px;
    font-size: 10pt;
    .buttons-list {
      font-size: 32px;
    }
  }
  .authorizers-select-container {
    position: absolute;
    left: 0;
    right: 0;
    margin-bottom: 30px;
    &.fadeOut {
      z-index: -1;
    }
    .authorizers-dropdown-container {
      opacity: 0;
      margin-top: 10px;
    }
    .dropdown-label {
      position: absolute;
      height: 47px;
      line-height: 47px;
      padding: 0 15px;
      border-right: 1px solid $input-border;
      z-index: 2;
      color: $color-steel;
    }
    .ember-power-select-trigger {
      min-height: 45px;
      padding: 11px 40px 11px 95px;
      .social-box-component {
        left: 94px;
      }
      .ember-power-select-selected-item {
        padding-left: 35px;
      }
    }
  }

  .login-box {
    h1 {
      text-align: center;
      margin-top: 25px;
      margin-bottom: 0;
      font-size: 23pt;
    }
    h2 {
      font-size: 13pt;
      text-align: center;
      margin: 10px 20px 20px 20px;
      .subtitle-tip {
        position: relative;
        top: 2px;
        left: 2px;
        opacity: 0.8;
        font-size: 90%;
      }
    }
    .login-forms-row {
      position: relative;
    }
    .login-form-container {
      position: absolute;
      left: 0;
      right: 0;
      margin-bottom: 30px;
      opacity: 0;
      &.always-visible {
        opacity: initial;
        margin-top: 10px;
      }
      .login-form {
        &.fadeOut {
          z-index: -1;
        }
        .input-group.with-icon-addon {
          position: relative;
          .input-group-addon {
            position: relative;
            top: 1px;
            padding: 4px 5px;
            // focus on input changes its z-index from 1 to 3
            z-index: 4;
            height: $input-height-base;
            min-width: $input-height-base;
            border: 0;
            border-right: 1px solid $input-border;
            background-color: transparent;
            .one-icon {
              font-size: 32px ;
            }
          }
          input {
            $border-radius: $input-border-radius;
            height: 44px;
            float: none;
            position: absolute;
            z-index: 1;
            &:last-child {
              left: 0;
              padding-left: 57px;
              border-radius: $border-radius;
            }
          }
        }
        .has-error .input-group.with-icon-addon .input-group-addon {
          border-right: 1px solid $state-danger-text;
        }
        .btn {
          padding: 10px 40px;
          margin-bottom: 5px;
          .spin-button-spinner {
            height: 0;
            width: 0;
          }
          &.back-button {
            background-color: $color-button-default;
            border-color: $color-button-default;
            .one-icon::before {
              display: inline-block;
              position: relative;
              top: 5px;
              margin-left: -10px;
              transform: rotate(-180deg);
              font-size: 17pt;
              line-height: 0;
            }
          }
        }
      }
    }
  }

  .zone {
    color: white;
    margin-top: 20px;
    margin-bottom: 100px;
    font-family: 'Myriad Pro Bold', 'Open Sans', sans-serif;

    .zone-image {
      position: relative;
      right: -13px;
      height: 80px;
      background-size: contain;
      background-image: url(/assets/images/login/oneworld.svg);
      background-repeat: no-repeat;
      background-position: right center;
    }
    .zone-label {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%);
      padding-left: 23px;
      font-size: 14pt;
      text-align: left;
      text-transform: uppercase;
      line-height: 100%;
      .zone-company-name {
        word-break: break-word;
      }
      .zone-zone {
        font-size: 0.8em;
        opacity: 0.8;
      }
    }
    @media(max-height: 600px) {
      margin-bottom: 50px;
    }
  }
  
  .login-service-version {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 11pt;
    text-align: right;
    padding: 10px;
    padding-right: 20px;
    color: rgba(white,0.5);
  }
}

.login-elements {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) translateY(-160px);
  width: 100%;
  @media (max-height: 740px) {
    position: initial;
    transform: none;
  }
}
