.loader {
  display: none;
}

.active {
  .loader {
    display: block;
  }
}

.social-box-component {
  &.full-size {
    .one-icon {
      font-size: 72px;
    }
  }
  .social-icon-image {
    width: 100%;
    height: 100%;
    background-size: 72px 72px;
    background-repeat: no-repeat;
    background-position: center center;
    
    &.full-size {
      background-size: 100%;
    }
  }
  
    
}

.container-home {
  .login-icon-box {
    display: inline-block;
    height: 72px;
    width: 72px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 72px;
    font-size: 56px;
    color: white !important;
    text-decoration: none !important;
    cursor: pointer; cursor: hand;

    .loader {
      // position hack
      position: absolute;
      top: 23px;
      left: 30px;
      font-size: 40px;
      max-width: 40px;
      width: 40px;
      color: rgba(white, 0.5);
    }

    &.active {
      .one-icon {
        color: transparent !important;
      }
    }

    .one-icon {
      line-height: inherit;
    }

    &.indigo {
      background-color: $color-login-indigo;
    }
    &.github {
      background-color: $color-login-github;
    }
    &.plgrid {
      background-color: $color-login-plgrid;
    }
    &.google {
      background-color: $color-login-google;
    }
    &.dropbox {
      background-color: $color-login-dropbox;
    }
    &.facebook {
      background-color: $color-login-facebook;
    }
    &.username {
      background-color: $color-login-username;
    }
    &.egi {
      background-color: $color-login-egi;
    }
    &.rhea {
      background-color: $color-login-rhea;
    }
    &.elixir {
      background-color: $color-login-elixir;
    }
  }

  .login-box-container {
    height: 100%;
    margin-bottom: 50px;
  }

  .login-buttons-container {
    max-width: 700px;
  }

  .login-box {
    padding-top: 100px;
    padding-bottom: 90px;

    border: 2px solid white;
    background: rgba(100%, 100%, 100%, 0.25);

    h1 {
      text-align: center;
      margin-bottom: 50px;
    }
    h2 {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 100px;
      margin-right: 20px;
      margin-left: 20px;
    }
  }

  .zone {
    color: white;
    background: transparent;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Myriad Pro Bold', 'Open Sans', sans-serif;

    .zone-image {
      position: relative;
      height: 170px;
      background-size: contain;
      background-image: url(/assets/images/login/zone.svg);
      background-repeat: no-repeat;
      background-position: center center;

      text-align: center;
      padding-top: 40px;
      font-weight: bold;
      font-size: 20pt;

      line-height: 125%;

      > * {
        display: table;
        margin-left: auto;
        margin-right: auto;
        max-width: 100px;
      }

      .brand-logo {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-size: contain;
        background-image: url(/assets/images/brand-logo.svg);
        background-repeat: no-repeat;
        background-position: center center;
      }

      // .isolated {
      //   // pull up
      //   margin-top: -3px;
      //   font-family: 'Myriad Pro Semibold', 'Open Sans', sans-serif;
      //   font-size: 0.8em
      // }
    }
    .zone-arrow {
      height: 170px;
      background-image: url(/assets/images/login/zone-arrow.svg);
      background-repeat: no-repeat;
      background-position: center 100px;
    }
    .zone-label {
      padding-top: 50px;
      font-weight: bold;
      font-size: 34pt;
      text-align: center;
      text-transform: uppercase;
      line-height: 100%;
      .zone-zone {
      }
      .zone-company-name {
        font-size: 0.9em;
      }
    }
  }
  
  .login-service-version {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 11pt;
    text-align: right;
    padding: 10px;
    padding-right: 20px;
    color: rgba(white,0.5);
  }
}
