.loader {
  display: none;
}

.active {
  .loader {
    display: block;
  }
}

.social-box-component {
  display: inline-block;
  &.full-size {
    .one-icon {
      font-size: 72px;
    }
  }
  .social-icon-image {
    width: 100%;
    height: 100%;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center center;
    
    &.full-size {
      background-size: 100%;
    }
  }
  
    
}

.container-home {
  .login-icon-box {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: $border-radius-large;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    color: white !important;
    text-decoration: none !important;
    cursor: pointer; cursor: hand;

    .loader {
      // position hack
      position: absolute;
      top: 23px;
      left: 30px;
      font-size: 40px;
      max-width: 40px;
      width: 40px;
      color: rgba(white, 0.5);
    }

    &.active {
      .one-icon {
        color: transparent !important;
      }
    }

    .one-icon {
      line-height: inherit;
    }

    &.indigo {
      background-color: $color-login-indigo;
    }
    &.github {
      background-color: $color-login-github;
    }
    &.plgrid {
      background-color: $color-login-plgrid;
    }
    &.google {
      background-color: $color-login-google;
    }
    &.dropbox {
      background-color: $color-login-dropbox;
    }
    &.facebook {
      background-color: $color-login-facebook;
    }
    &.username {
      background-color: $color-login-username;
    }
    &.egi {
      background-color: $color-login-egi;
    }
    &.rhea {
      background-color: $color-login-rhea;
    }
    &.elixir {
      background-color: $color-login-elixir;
    }
  }

  .login-box-container {
    height: 100%;
    margin-bottom: 50px;
  }

  .login-buttons-container {
    max-width: 440px;
  }
  
  .authorizers-dropdown {
    position: relative;
    color: $color-steel;
    font-size: 80%;
    margin-top: 10px;
    .dropdown-label {
      position: absolute;
      height: 50px;
      line-height: 50px;
      padding: 0 15px;
      border-right: 1px solid gray;
      z-index: 2;
    }
    .ember-power-select-status-icon {
      display: none;
    }
    .dropdown-arrow {
      position: absolute;
      top: 12px;
      right: 12px;
      z-index: 2;
      font-size: 28px;
    }
    .ember-power-select-option, .ember-power-select-trigger {
      position: relative;
      padding-left: 50px;
      .social-box-component {
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        height: 25px;
        margin: 0 10px;
        .login-icon-box {
          height: 25px;
          width: 25px;
          margin: 0;
          border-radius: $border-radius-large;
          text-align: center;
          line-height: 25px;
          font-size: 18px;
          .social-icon-image {
            background-size: 20px 20px;
          }
        }
      }
    }
    .ember-power-select-trigger {
      min-height: 50px;
      padding: 11px;
      padding-left: 130px;
      .social-box-component {
        left: 90px;
      }
    }
  }

  .text-with-horiz-line {
    padding: 10px 0;
    overflow: hidden;
    text-align: center;
    &::before,
    &::after {
      content: "";
      background-color: white;
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
    }
    &::before {
      right: 0.5em;
      margin-left: -50%;
    }
    &::after {
      left: 0.5em;
      margin-right: -50%;
    }
  }

  .login-box {
    h1 {
      text-align: center;
      margin-bottom: 50px;
    }
    h2 {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 100px;
      margin-right: 20px;
      margin-left: 20px;
    }
  }

  .zone {
    display: none;
    color: white;
    background: transparent;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Myriad Pro Bold', 'Open Sans', sans-serif;

    .zone-image {
      position: relative;
      height: 170px;
      background-size: contain;
      background-image: url(/assets/images/login/zone.svg);
      background-repeat: no-repeat;
      background-position: center center;

      text-align: center;
      padding-top: 40px;
      font-weight: bold;
      font-size: 20pt;

      line-height: 125%;

      > * {
        display: table;
        margin-left: auto;
        margin-right: auto;
        max-width: 100px;
      }

      .brand-logo {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-size: contain;
        background-image: url(/assets/images/brand-logo.svg);
        background-repeat: no-repeat;
        background-position: center center;
      }

      // .isolated {
      //   // pull up
      //   margin-top: -3px;
      //   font-family: 'Myriad Pro Semibold', 'Open Sans', sans-serif;
      //   font-size: 0.8em
      // }
    }
    .zone-arrow {
      height: 170px;
      background-image: url(/assets/images/login/zone-arrow.svg);
      background-repeat: no-repeat;
      background-position: center 100px;
    }
    .zone-label {
      padding-top: 50px;
      font-weight: bold;
      font-size: 34pt;
      text-align: center;
      text-transform: uppercase;
      line-height: 100%;
      .zone-zone {
      }
      .zone-company-name {
        font-size: 0.9em;
      }
    }
  }
  
  .login-service-version {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 11pt;
    text-align: right;
    padding: 10px;
    padding-right: 20px;
    color: rgba(white,0.5);
  }
}
