$onezone-sidebar-width: 380px;
$onezone-top-bar-height: 80px;
$onezone-content-padding: 15px;

$onezone-fog-z: 0;

$onezone-sidebar-padding-h: 24px;

// TODO: http://alistapart.com/article/dry-ing-out-your-sass-mixins
// TODO: move to colors.scss
$color-onezone-sidebar-bg: #434343;
$color-onezone-sidebar-separator: #515151;
$color-onezone-top-bar-bg: rgba($color-onezone-sidebar-bg, 0.4);
$color-onezone-fog-base: #8294b1;
// TODO: own experimental alpha
$color-onezone-fog: rgba($color-onezone-fog-base, 0.8);

$color-button: #5094E4;
$color-provider-online: #6ACB94;
$color-provider-offline: $color-grey-7;

$color-onezone-search: #2A2A2A;

$color-onezone-panel-heading: $color-red-1;
$color-onezone-panel-body: #60687E;

$color-onezone-panel-hover: rgba(255, 255, 255, 0.1);

@include animation-fg-color-change(
  provider-pending-fg,
  $color-provider-offline,
  $color-provider-online
);

@include animation-bg-color-change(
  provider-pending-bg,
  $color-provider-offline,
  $color-provider-online
);

.provider-pending-animation {
  @extend .animated;
  @extend .infinite;
  @extend .hinge; 
}

.provider-pending-fg-animated {
  @extend .provider-pending-animation;
  @extend .provider-pending-fg;
}

.color-provider-online {
  color: $color-provider-online;
}

.color-provider-pending {
  @extend .provider-pending-fg-animated;
}

.color-provider-offline {
  color: $color-provider-offline;
}

$search-box-height: 36px;

// styles used directly on onezone and child templates

.onezone-fog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $onezone-fog-z;
  background-color: $color-onezone-fog;
}

.onezone-container-application {
  position: relative;
  z-index: $onezone-fog-z + 1;
  padding-bottom: $onezone-content-padding;
  padding-right: $onezone-content-padding;
  padding-left: $onezone-sidebar-width + $onezone-content-padding;
  padding-top: $onezone-top-bar-height + $onezone-content-padding;
}

.zone-service-info {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 11pt;
  .zone-service-name {
    color: rgba(white, .7);
  }
  .zone-service-version {
    margin-left: 10px;
    color: rgba(white, .5);
  }
}
