.panel-onezone {
  position: relative;
  // above providers drop
  z-index: 1002;
  margin: 40px;
  padding: 70px;
  border-top: 5px $color-red-1 solid;
  background: white;

  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;


  .panel-heading {
    font-family: 'Myriad Pro Semibold', 'Open Sans', sans-serif;
    font-size: $body-font-size * 1.8;
    color: $color-onezone-panel-body;
  }
  .panel-body {
    color: $color-onezone-panel-body;

    ul, ol {
      margin-left: 0; /* Remove the default left margin */
      margin-top: 20px;
      padding-left: 0; /* Remove the default left padding */

      li {
        position: relative; /* Create a positioning context */
        margin: 0 0 6px 62px; /* Give each list item a left margin to make room for the numbers */
        list-style: none; /* Disable the normal item numbering */
      }

      li:before {
        position: absolute;
        top: 1px;
        left: -60px;
        width: 1.8em;
        height: 1.8em;
        padding: 1px;
        // pull down number
        padding-top: 3px;
        font-size: 0.8em;
        border: none;
        color: #fff;
        background: $color-onezone-panel-body;
        border-radius: 4px;
        text-align: center;
      }
    }

    // based on: http://www.456bereastreet.com/archive/201105/styling_ordered_list_numbers/
    ol {
      counter-reset: li; /* Initiate a counter */
      
      li:before {
        content:counter(li); /* Use the counter as content */
        counter-increment: li; /* Increment the counter by 1 */
      }
    }

    ul {
      li:before {
        font-family: 'oneicons' !important;
        font-weight: bold;
        content: $oneicon-arrow-right;
      }
    }
  }

  &.panel-onezone-alert {
    .panel-heading {
      color: $color-onezone-panel-heading;
      text-transform: none;
    }

  }
}
