.onezone-sidebar {
  position: fixed;
  z-index: $onezone-fog-z + 2;
  top: 0;
  bottom: 0;
  left: 0;
  width: $onezone-sidebar-width;
  background: $color-onezone-sidebar-bg;

  $onezone-accordion-heading-height: 75px;
  $onezone-secondary-accordion-heading-height: 32px;
  $onezone-secondary-accordion-item-height: 35px;

  input {
    border: none;
    background: #2A2A2A;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0;
    padding-bottom: 0;
    
    &:focus {
      outline: none;
    }
  }

  .brand {
    height: $onezone-top-bar-height;
    padding-left: $onezone-sidebar-padding-h;
    padding-top: 25px;
    padding-bottom: 25px;

    .logo {
      height: 100%;
      width: 100%;
      background-image: url('/assets/images/logo.svg');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
    }

  }

  // generic classes for sidebar elements

  // generic container for icons in sidebar rows
  .sidebar-icon-container {
    vertical-align: middle;
  }

  // container for oneicon like "(+) connect new account" in accounts settings
  

  // container for standard icon in sidebar like space icon in spaces list
  

  .sidebar-row {
    display: block;
    padding-left: $onezone-sidebar-padding-h;
    padding-right: $onezone-sidebar-padding-h;
    color: white;
    clear: both;

    text-decoration: none !important;
  }

  .accordion-container {
    position: absolute;
    top: 80px;
    bottom: 0;
    width: 100%;
    // overflow: visible;
    overflow-y: auto;
    overflow-x: hidden;
  }

  // generic styles for accordions
  .accordion {
    .accordion-group {
      border-top: $color-onezone-sidebar-separator 2px solid;

      .accordion-heading {
        // TODO: elements can use sidebar-row class
        .accordion-toggle {
          display: block;
          padding-left: $onezone-sidebar-padding-h;
          padding-right: $onezone-sidebar-padding-h;
          clear: both;

          text-decoration: none !important;

          &:not(.non-hoverable) {
            &:hover {
              background-color: rgba(255, 255, 255, 0.1) !important;

              .star-empty {
                color: #fff !important;
              }
            }
          }
        }
      }

      .accordion-inner {
        padding: 0px;
      }
    }
  }

  // specific styles for main-accoridion, see also .accordion styles
  .main-accordion {
    .main-accordion-group {
      .main-accordion-heading {
        text-transform: uppercase;

        .main-accordion-toggle {
          height: $onezone-accordion-heading-height;
          line-height: $onezone-accordion-heading-height;
          color: white;
          clear: both;

          h1 {
            display: block;
            float: left;
            font-size: 18.6px;
            line-height: 75px;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0;
            margin-bottom: 0;
          }

          .arrow-down {
            display: block;
            float: right;
            width: 20px;
            height: $onezone-accordion-heading-height;
            background-image: url('/assets/images/onezone/arrow-down.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;

            @include vendor-prefix(transform, rotate(0));

            transition: all 0.35s ease;
          }

          &[aria-expanded="true"] {
            .arrow-down {
              @include vendor-prefix(transform, rotate(-180deg));

              transition: all 0.35s ease;
            }
          }

          &:hover {
            text-decoration: none;
            background-color: rgba(255, 255, 255, 0.1);
          }
        }
      }

      .main-accordion-inner {
        padding: 0px;
        padding-bottom: 20px;
      }
    }
  }

  // component
  .accounts-list {
    li {
      &:first-of-type {
        margin-top: 15px;
      }
    }
  }

  // generic class
  .sidebar-list {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        padding: 0 $onezone-sidebar-padding-h;
        margin: 0;
      }
    }
  }

  .sidebar-list:not(.non-hoverable) {
    ul:not(.non-hoverable) {
      li:not(.non-hoverable) {
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }


  // specific styles for spaces-accordion, see also .accordion styles
  // TODO: shared classes
  // TODO: tokens-* is fake - it should be non-accordion class that joins:
  //    .tokens-accordion .tokens-accordion-item .tokens-accordion-group
  //    .tokens-accordion-heading .tokens-accordion-toggle
  //    inside there should be classes: token-icon, token-header, select-button,
  //    .trash-button

  .tokens-container {
    padding-bottom: 5px;
    .token-icon {
      display: table-cell;
      width: 30px;
      height: $onezone-secondary-accordion-heading-height;
      line-height: $onezone-secondary-accordion-heading-height;
    }
    .token-header {
      text-transform: none;
      line-height: $onezone-secondary-accordion-heading-height;

      input {
        width: 100%;
        padding: 0;
        margin: 0;
        line-height: $onezone-secondary-accordion-heading-height;
        text-overflow: ellipsis;
        background: inherit;
      }
    }
    
    .visible-on-hover {
      color: transparent;
    }

    // TODO: generic right button class or something like in spaces list

    .select-button {
      font-size: 24px;
      position: relative;

      width: 32px;
      line-height: $onezone-secondary-accordion-heading-height;
      cursor: pointer; cursor: hand;
    }
    .trash-button {
      font-size: 24px;
      position: relative;

      width: 32px;
      line-height: $onezone-secondary-accordion-heading-height;
      cursor: pointer; cursor: hand;
    }
  }

  .sidebar-secondary-container {
    color: white;

    .one-icon {
      font-size: 28px;
      text-align: center;
    }
  }

  .secondary-accordion {
    font-size: 14px;
    color: #fff;

    .secondary-accordion-item {
      &:first-of-type {
        margin-top: 20px;
      }
    }

    .secondary-accordion-group {
      border: none;

      .secondary-accordion-heading {
        height: $onezone-secondary-accordion-heading-height;
        line-height: $onezone-secondary-accordion-heading-height;

        .secondary-accordion-toggle {
          width: 100%;
          max-height: $onezone-secondary-accordion-heading-height;
          line-height: $onezone-secondary-accordion-heading-height;
          padding-left: $onezone-sidebar-padding-h;
          padding-right: $onezone-sidebar-padding-h;

          vertical-align: middle;
          background-color: #3A3A3A;

          .go-to-provider {
            cursor: pointer; cursor: hand;
          }

          &.create-new {
            &.first-create-new {
              margin-top: 20px;
            }
            background-color: transparent;
          }

          .secondary-icon {
            display: table-cell;
            width: 32px;
            padding-right: 4px;

            .one-icon {
              font-size: 28px;
              line-height: inherit;
            }
          }

          .secondary-header {
            // pull-up hack
            position: relative;
            vertical-align: inherit;
            display: table-cell;
            padding-left: 8px;
            line-height: $onezone-secondary-accordion-heading-height;
            text-transform: none;

            // TODO: max-width truncation in table-cell seems to be hacky
            // try to find out other solution

            &.space-header {
              max-width: 120px;
              width: 120px;
            }

            &.provider-header {
              max-width: 190px;
              width: 190px;
            }
          }

          // for space
          .providers-count {
            position: relative;

            display: table-cell;
            overflow-x: hidden;
            .icon {
              display: table-cell;
              .one-icon {
                vertical-align: middle;
                font-size: 22px;
                line-height: inherit;
              }
            }
            .one-label {
              position: relative;

              display: table-cell;
              vertical-align: middle;
              font-size: 11.2px;

              span {
                position: relative;
                top: 1px;
                left: 2px;
              }
            }
          }

          .star-toggle {
            display: table-cell;
            width: 32px;
            font-size: 30px;
            cursor: pointer; cursor: hand;

            .star-empty {
              color: transparent;
            }
          }

          .settings-tool {
            text-align: center;
          }

          // for provider
          .spaces-count {
            display: table-cell;
            position: relative;
            // pull down
            top: 2px;
            width: 50px;
            height: $onezone-secondary-accordion-heading-height;
            overflow-x: hidden;
            cursor: pointer; cursor: hand;
            @include vendor-prefix(user-select, none);

            .icon {
              position: absolute;
              top: 0;
              left: 0;
              .one-icon {
                font-size: 28px;
              }
            }
            .one-label {
              position: absolute;
              top: 0;
              left: 0;
              display: table-cell;
              vertical-align: middle;
              height: $onezone-secondary-accordion-heading-height;;
              line-height: $onezone-secondary-accordion-heading-height;;
              width: 30px;
              text-align: center;
              padding: 0;
              color: #3A3A3A;
              font-size: 0.6em;
            }
          }
        }
      }

      .secondary-accordion-body {
        background-color: #3E3E3E;

        // tenrary list TODO: maybe a class...
        ul {
          li {
            display: table;
            padding-left: 70px;
            width: 100%;
            .icon {
              display: table-cell;
              width: 32px;
              font-size: 32px;
            }
            .one-label {
              display: table-cell;
              vertical-align: middle;
              text-align: left;
            }
          }
        }

        .get-support {
          font-family: "Lato", sans-serif;
          font-weight: 100;
          font-style: italic;

          .icon {
            text-align: center;
          }

          // TODO: make dynamic
          .token-popup {
            width: 640px;

            input {
              // TODO: a hack for copy button
              width: 90%;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }

  // some other styles for spaces sidebar part
  .sidebar-row-text-info {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .space-add-read-more-row {
    margin: 20px 0;
  }



  .account-item, .account-add {
    $onezone-account-item-height: $onezone-accordion-heading-height * 0.75;

    display: table;
    width: 100%;
    height: $onezone-account-item-height;
    line-height: $onezone-account-item-height;
    padding-right: $onezone-sidebar-padding-h;
    color: white;

    > .dropdown, > .dropdown-toggle {
      width: 100%;
    }

    .spinner-container {
      // to slightly better align with account circle
      left: -1px;
    }

    .account-icon {
      position: relative;
      width: 32px;
      height: $onezone-account-item-height;
      text-align: center;

      &.account-add-icon {
        position: relative;
        font-size: 48px;
        left: -8px;

        .one-icon {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }

      .circle {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        &.google {
          background-color: $color-login-google !important;
        }
        &.plgrid {
          background-color: $color-login-plgrid !important;
        }
        &.dropbox {
          background-color: $color-login-dropbox !important;
        }
        &.facebook {
          background-color: $color-login-facebook !important;
        }
        &.github {
          background-color: $color-login-github !important;
        }
        &.indigo {
          background-color: $color-login-indigo !important;
        }
        &.egi {
          background-color: $color-login-egi !important;
        }
      }
      .icon {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        vertical-align: middle;
        height: $onezone-secondary-accordion-item-height;
        line-height: $onezone-secondary-accordion-item-height;
        width: 32px;
        text-align: center;
        padding: 0;
        color: white;
        font-size: 30px;
        background: transparent;

        .one-icon {
          line-height: inherit;
        }
      }
    }
  }
}

.icon + .one-label {
  padding-left: 8px;
}

.icon + .one-label-large {
  padding-left: 16px;
}

.one-label-large {
  font-size: 15px;
}

.connect-new {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: italic;
}

// as we use one-label in providers count, disable padding
.providers-count {
  .icon + .one-label {
    padding-left: 0;
  } 
}

.side-dropdown {
  a {
    color: white !important;
    text-decoration: none !important;
  }
}


// TODO: hacky!
.add-item-icon {
  // add account does not need pulling down...
  padding-top: 0;
  // size hack
  font-size: 32px !important;
  position: relative;
  left: -2px;
}

.onezone-sidebar .sidebar-list ul.tertiary-list {
  padding-bottom: 15px;
}

.tertiary-icon {
  width: 32px;
  line-height: 32px;
  padding-right: 4px;
  .one-icon {
    font-size: 26px;
    line-height: inherit;
  }
}

.secondary-item-container {
  display: table;
  vertical-align: middle;
  width: 100%;

  .secondary-item-element {
    display: table-cell;
    vertical-align: middle;
  }
}

.space-header-size {
  width: 75px;
  max-width: 75px;
  padding-right: 10px;
  overflow-x: hidden;
  text-overflow: clip;
  white-space: nowrap;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.5);
  text-align: right;
}

.sidebar-provider-space {
  &.space-header {
    max-width: 112px;
    width: 112px;
  }
}
  
.alias-edit-container {
  .alias-text.readonly {
    max-width: 120px;
  }
}
