.panel-onezone {
  position: relative;
  // above providers drop
  z-index: 1002;
  margin: 40px;
  padding: 70px;
  border-top: 5px $color-red-1 solid;
  background: white;

  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;


  .panel-heading {
    font-family: 'Myriad Pro Semibold', 'Open Sans', sans-serif;
    font-size: $body-font-size * 1.8;
    color: $color-onezone-panel-body;
  }
  .panel-body {
    color: $color-onezone-panel-body;

    ul, ol {
      margin-left: 0; /* Remove the default left margin */
      margin-top: 20px;
      padding-left: 0; /* Remove the default left padding */

      li {
        position: relative; /* Create a positioning context */
        margin: 0 0 6px 62px; /* Give each list item a left margin to make room for the numbers */
        list-style: none; /* Disable the normal item numbering */
      }

      li:before {
        position: absolute;
        top: 1px;
        left: -60px;
        width: 1.8em;
        height: 1.8em;
        padding: 1px;
        // pull down number
        padding-top: 3px;
        font-size: 0.8em;
        border: none;
        color: #fff;
        background: $color-onezone-panel-body;
        border-radius: 4px;
        text-align: center;
      }
    }

    // based on: http://www.456bereastreet.com/archive/201105/styling_ordered_list_numbers/
    ol {
      counter-reset: li; /* Initiate a counter */
      
      li:before {
        content:counter(li); /* Use the counter as content */
        counter-increment: li; /* Increment the counter by 1 */
      }
    }

    ul {
      li:before {
        font-family: 'oneicons' !important;
        font-weight: bold;
        content: $oneicon-arrow-right;
      }
    }

    textarea {
      padding: 15px;
      border-color: $onedata-light-gray;
      background-color: $onedata-snow;
      font-family: monospace;
    }

    *[type="button"] {
      text-transform: uppercase;
      .one-icon {
        display: inline;
        font-size: 24px;
        position: relative;
        line-height: 0;
        top: 5px;
      }
    }
  }

  &.panel-onezone-alert {
    .panel-heading {
      color: $color-onezone-panel-heading;
      text-transform: none;
    }

  }
}

.panel-onezone-modal.modal {
  .modal-dialog {
    .modal-content {
      @extend .panel-onezone;
      padding: 40px 50px;
      .modal-header {
        position: relative;
        padding: 0;
        border: none;
        background-color: inherit;
        .close {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1.5em;
          height: 1.5em;
          border-width: 2px;
          border-radius: 100%;
          border-style: solid;
          text-align: center;
          color: inherit;
          span {
            font-size: 1.4em;
          }
        }
      }
      .modal-body {
        padding: 30px 0 0 0;
        .row {
          margin: 0;
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
          & > *:first-child {
            padding-left: 0;
          }
          & > *:last-child {
            padding-right: 0;
          }
        }
        .nav.nav-tabs {
          margin: 0 -50px;
          padding: 0 50px;
          li {
            margin: 0 0 -1px 0;
            &::before {
              display: none;
            }
            a {
              padding: 20px;
              padding-bottom: 19px;
              border: 1px solid $nav-tabs-border-color;
              border-radius: 0;
              text-transform: uppercase;
              color: $color-grey-1;
              background: $onedata-snow;
            }
            &.active {
              a {
                background: white;
                padding-bottom: 20px;
                border-bottom: 0;
              }
            }
          }
        }
        .tab-pane {
          padding: 40px 0 0 0;
        }
      }
    }
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  a {
    color: $onedata-mint-green-pale;
  }
}
