$provider-place-circle-size: 64px;
$provider-place-circle-border-size: 2px;

.provider-place {
  position: absolute;

  &.online {
    .circle {
      border-color: $color-provider-online;
      color: $color-provider-online;
    }
  }
  
  &.pending {
    .circle {
      border-color: $color-provider-pending;
      color: $color-provider-pending;
    }
  }
  
  &.offline {
    .circle {
      border-color: $color-provider-offline;
      color: $color-provider-offline;
    }
  }

  .circle {
    // initial size
    width: $provider-place-circle-size;
    height: $provider-place-circle-size;
    font-size: ($provider-place-circle-size * 0.75);
    line-height: ($provider-place-circle-size - $provider-place-circle-border-size * 2);
    border-radius: 50%;
    border-width: $provider-place-circle-border-size;
    border-style: solid;
    background-color: white;
    cursor: pointer; cursor: hand;

    .provider-icon {
      position: relative;
      font-size: inherit;
      // font-size: ($provider-place-circle-size * 0.75);
      width: 98%;
      height: 98%;
      line-height: inherit;
      // width: ($provider-place-circle-size - $provider-place-circle-border-size * 2);
      // height: ($provider-place-circle-size - $provider-place-circle-border-size * 2);

      .one-icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        line-height: inherit;
        text-align: center;
      }
    }
  }
}
