gui:
  image: docker.onedata.org/oz-gui-homepage:VFS-1988
  restart: always
  volumes:
    - /var/www/html

docs:
  image: docker.onedata.org/onedata-documentation:ID-0258025e13
  restart: always
  volumes:
    - /var/www/html/docs

onezone:
  image: docker.onedata.org/onezone:ID-c6c94128d5
  container_name: oz
  hostname: onedata.localhost.local
  restart: always
  volumes_from:
    - gui
    - docs
  links:
    - gui
    - docs
