<div class="container-index container-redoc">
  <div class="row-index row-redoc">
    {{#if (and iframeApiVersion apiComponent)}}
      {{redoc-iframe apiVersion=iframeApiVersion apiComponent=apiComponent
        anchor=anchor
        aboveElementSelector=".api-components-menu"
        iframeSrcLoadingChanged=(action "iframeSrcLoadingChanged")
      }}
    {{/if}}
  </div>
</div>
