<div class="container-index container-redoc">
  <div class="row-index row-redoc">
    {{redoc-iframe apiVersion=apiVersion apiComponent=apiComponent
      aboveElementSelector=".api-components-menu"}}
  </div>
</div>
