<div class="fixed-center application-error">
  <div class="application-error-icon glyphicon glyphicon-exclamation-sign"></div>
  <h1 class="application-error-message">
    {{t 'common.fatalApplicationErrorResources'}}
  </h1>
</div>
