{{page-title (t 'api.title')}}

{{!-- FIXME: components menu --}}
{{!-- FIXME: versions selector --}}

<div class="api-components-menu">
  <ul>
    {{#each apiComponents as |ac|}}
      {{#link-to "home.api.show-api" apiVersion ac.id
        tagName="li"
        class=(concat "api-components-menu-item clickable " (if (eq ac.id apiComponent) "active"))}}
        {{ac.name}}
      {{/link-to}}
    {{/each}}
  </ul>
</div>

{{outlet}}
