{{page-title (t 'api.title')}}

{{!-- FIXME: components menu --}}
{{!-- FIXME: versions selector --}}

{{!--<div class="api-components-menu">
  <ul>
    {{#each components as |comp|}}
      {{#link-to "home.api.component" (query-params component=comp.id) tagName="li"}}
        comp.name
      {{/link-to}}
    {{/each}}
  </ul>
</div>--}}

{{outlet}}
