<ul class="accordion-content">
  {{#if session.sessionDetails.basicAuthEnabled}}
  <li>
    {{account-item-password}}
  </li>
  {{/if}}
  {{#if isLoading}}
    <li class="non-hoverable">
      {{!-- TODO: add spinner (there is some problems with positioning) --}}
      <div class="account-label">
        Loading accounts info...
      </div>
    </li>
  {{else}}
    {{#each authorizersSorted as |account|}}
    <li class="non-hoverable">
      {{account-item type=account.type label=account.email}}
    </li>
    {{/each}}
  {{/if}}
  <li>
    {{account-add}}
  </li>
</ul>
