{{#if name}}
  <span class="api-version-string-name">{{name}}</span> <span class="api-version-string-version">{{version}}</span>
{{else}}
  <span class="api-version-string-version">{{version}}</span>
{{/if}}
