<div class="secondary-item-element icon tertiary-icon">
  {{one-icon tagName="div" icon=iconName}}
</div>
<div class="secondary-item-element one-label after-icon truncate">
  {{name}}
</div>
<div class="secondary-item-element space-header-size">
  {{bytes-to-string supportSize}}
</div>
