<div class="secondary-item-element icon tertiary-icon">
  {{one-icon tagName="div" icon=iconName}}
</div>
{{#truncated-string class="secondary-item-element space-header one-label after-icon"}}
  {{name-conflict item=space}}
{{/truncated-string}}
<div class="secondary-item-element space-header-size">
  {{bytes-to-string supportSize}}
</div>
