<div class="dropdown side-dropdown">
  <a href="#" class="dropdown-toggle side-dropdown-toggle full-width clickable secondary-item-container"
    data-toggle="dropdown" role="button" aria-haspopup="true"
    aria-expanded="false">
    <div class="secondary-item-element account-icon account-add-icon sidebar-icon-container icon">
      {{one-icon tagName="div" icon='password-change'}}
    </div>
    <div class="secondary-item-element account-label connect-new one-label one-label-large">
      {{t 'onezone.accountItemPassword.changePassword'}}
    </div>
  </a>
</div>

{{modals/change-password modalId="change-password" open=modalOpened}}
