<div class="fixed-center application-error">
  {{one-icon tagName="div" icon="sign-warning" class="application-error-icon"}}
  <h1 class="application-error-message">
    {{t 'common.fatalApplicationErrorResources'}}
  </h1>
</div>
